body {
    color: rgb(0, 0, 0);
    background-color: rgb(250, 245, 245);
}

section {
    background: rgb(1, 253, 253);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}